@import 'styles/_colors.scss';

.navList {
  padding: 2em;
  background-color: $dark-grey;

  ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;

    li a {
      text-decoration: none;
      color: $background-default;
      transition: all .2s;

      &:hover {
        color: $red-default;
      }
    }
  }
}