@import 'styles/_colors.scss';

.historyContainer {
  padding: 0 3em;
  margin-bottom: 5em;

  div {
    padding: 2em;
    padding-bottom: 0;

    h1 {
      font-weight: 700;
      font-size: 2em;
      text-align: center;
      color: $dark-grey;
    }
  }
}