@import 'styles/_colors.scss';

.infoContainer {
  padding: 10px 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 2px solid $red-default;
  margin: 2em 0;

  strong {
    font-weight: 500;
  }

  span {
    color: $dark-grey;
    font-size: .8em;
  }
}